<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>addstudent</servlet-name>
    <servlet-class>servlet.addstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addstudent</servlet-name>
    <url-pattern>/addstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudentHomeworkServlet</servlet-name>
    <servlet-class>servlet.AddStudentHomeworkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentHomeworkServlet</servlet-name>
    <url-pattern>/AddStudentHomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postHomework</servlet-name>
    <servlet-class>servlet.postHomework</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postHomework</servlet-name>
    <url-pattern>/postHomework</url-pattern>
  </servlet-mapping>
</web-app>